<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="yonsei_church.yonsei.center">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name="yonsei_church.yonsei.center.app.GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="연세중앙교회"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        tools:replace="android:allowBackup,android:icon">
        <activity android:name=".activities.MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar"  android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WebViewActivity" android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.PlayerActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.AudioActivity" android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.DownloadListActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.VideoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.AlertDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <receiver android:name=".activities.PlayerActivity$MediaButtonNotification">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name="yonsei_church.yonsei.center.fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="yonsei_church.yonsei.center.fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name="yonsei_church.yonsei.center.media.MediaPlayerService">
        </service>

        <service android:name="yonsei_church.yonsei.center.media.DownloadContentService">
        </service>

       <!-- <service android:name="yonsei_church.yonsei.center.media.AudioFocusService">
        </service>-->

        <receiver
            android:name="yonsei_church.yonsei.center.receiver.NotificationDismissedReceiver"
            android:exported="false" >
        </receiver>

        <receiver
            android:name="yonsei_church.yonsei.center.receiver.CheckDownloadComplete"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
    </application>
</manifest>